<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>dnsimple.updater</string>

    <key>LowPriorityIO</key>
    <true/>

    <key>OnDemand</key>
    <true/>

    <key>Program</key>
    <string>/usr/local/bin/node</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/dnsimple-updater/app.js</string>
    </array>

    <key>StandardOutPath</key>
    <string>/usr/local/bin/dnsimple-updater/log.txt</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/bin/dnsimple-updater/log.txt</string>

    <key>ServiceDescription</key>
    <string>Updates DNSimple IP address in case it's changed every hour.</string>

    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>30</integer>
    </dict>
  </dict>
</plist>
